[Desktop Entry]
Name=Cryptomator
Comment=Cloud Storage Encryption Utility
Exec=cryptomator
Icon=cryptomator
Terminal=false
Type=Application
Categories=Utility;Security;FileTools;
